.animate-bar {
    animation: animate 3s normal;
}
 @keyframes animate {
    0% {
        width: 0;
    }
    10% {
        width: 10%;
    }
    60% {
        width: 60%;
    }
    100% {
        width: 100%;
    }
}