/* Header */
.glassmorphism {
    background: rgba(246, 246, 246, 0.3);
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 14.5px );
/* -webkit-backdrop-filter: blur( 14.5px ); */
/* border-radius: 10px; */
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

/* Dock */
.dock {
    animation: dock 3s normal;
}
 @keyframes dock {
    0% {
        bottom: -10px;
    }
    100% {
        bottom: 0px;
    }
}

.header {
    animation: header 5s normal;
}
 @keyframes header {
    0% {
        top: -20px;
    }
    100% {
        top: 0px;
    }
}