.window-scroll::-webkit-scrollbar {
    width: 6px;
}
.window-scroll::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 8px;
}
.window-scroll::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.12);
}
.window-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.22);
}